<script>
  if (true) {
    document.getElementById(myalert).hidden = false;
  }
</script>
<div
  class="alert alert-warning alert-dismissible fade show"
  role="alert"
  id="myalert"
  hidden="true"
>
  <%=alert%>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
